<!doctype html>
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Test
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  body.body
    img(src="/img/bg2.png", alt="", srcset="").preloadload-bg-img
    .background
    .options
      .container
        .menu-inner
          p.input-title Выберите способ заработка
          .option
            input#trade(type="radio", name="option")  
            label(for="trade").options-item
              img(src="img/icon.png", alt="").label-img  
              span Торговать
          .option
            input#invest(type="radio", name="option")  
            label(for="invest", name="option").options-item
              img(src="img/icon1.png", alt="").label-img 
              span Инвестировать
          .option
            input#attract(type="radio", name="option")  
            label(for="attract").options-item
              img(src="img/icon2.png", alt="").label-img 
              span Привлекать инвестора 
    .content
      .content-item
        .container
          .option-mobile
            img(src="img/icon.png", alt="").label-img
            span.title Самостоятельно торговать
            img(src="img/angle_down.png", alt="").angle
          .content-inner
            p.description Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!
            span.title Как это работает
            ul.list
              li.list-item
                span.number 1
                span.list-text Вы выбираете управляющего из рейтинга по фильтру Options
              li.list-item
                span.number 2
                span.list-text Подключаете свой счет к счету Управляющего 
              li.list-item
                span.number 3
                span.list-text  На вашем счете начинается копирование сделок
              li.list-item
                span.number 4
                span.list-text Обратите внимание, что вы не перечисляете свои деньги Управляющему. Все ваши средства остаются на Вашем счете.
              li.list-item
                span.number 5
                span.list-text Вы можете подключиться к нескольким Управляющим одновременно.
              li.list-item
                span.number 6
                span.list-text Вы можете отключиться от Управляющих в любой момент.
            button.button Продолжить    
        .bottom-image  
        .container
          .option-mobile
            img(src="img/icon1.png", alt="").label-img
            span.title Инвестировать
            img(src="img/angle_down.png", alt="").angle
          .content-inner
            p.description Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!
            span.title Как это работает
            ul.list
              li.list-item
                span.number 1
                span.list-text Вы выбираете управляющего из рейтинга по фильтру Options
              li.list-item
                span.number 2
                span.list-text Подключаете свой счет к счету Управляющего 
              li.list-item
                span.number 3
                span.list-text  На вашем счете начинается копирование сделок
              li.list-item
                span.number 4
                span.list-text Обратите внимание, что вы не перечисляете свои деньги Управляющему. Все ваши средства остаются на Вашем счете.
              li.list-item
                span.number 5
                span.list-text Вы можете подключиться к нескольким Управляющим одновременно.
              li.list-item
                span.number 6
                span.list-text Вы можете отключиться от Управляющих в любой момент.
            button.button Продолжить
        .bottom-image  

        .container
          .option-mobile
            img(src="img/icon2.png", alt="").label-img.little-img
            span.title Привлекать инвесторов
            img(src="img/angle_down.png", alt="").angle
          .content-inner
            p.description Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!
            span.title Как это работает
            ul.list
              li.list-item
                span.number 1
                span.list-text Вы выбираете управляющего из рейтинга по фильтру Options
              li.list-item
                span.number 2
                span.list-text Подключаете свой счет к счету Управляющего 
              li.list-item
                span.number 3
                span.list-text  На вашем счете начинается копирование сделок
              li.list-item
                span.number 4
                span.list-text Обратите внимание, что вы не перечисляете свои деньги Управляющему. Все ваши средства остаются на Вашем счете.
              li.list-item
                span.number 5
                span.list-text Вы можете подключиться к нескольким Управляющим одновременно.
              li.list-item
                span.number 6
                span.list-text Вы можете отключиться от Управляющих в любой момент.
            button.button Продолжить
        .bottom-image  


    script(src="js/main.js")
       
